from __future__ import unicode_literals
import multiprocessing

bind = "unix:{{ proj_path }}/gunicorn.sock"
workers = {{ num_workers }}
errorlog = "/home/{{ user }}/logs/{{ proj_name }}_error.log"
loglevel = "error"
proc_name = "{{ proj_name }}"
