# source this file in bash
python3 -m venv .venv --prompt '\[\e[31;40m\]T\[\e[m\]'
source .venv/bin/activate
python3 -m pip install --upgrade pip
pip3 install wheel
pip3 install -r requirements.txt
export PATH=.venv/bin/:$PATH
